#head {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    background-color: white;
 -webkit-box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.7);
box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.7);
}

#logo {
    top: 0px;
    left: 0px;
    margin-left: 35px;
    height: 25px;
    width: 100%;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
}

#login{
    top:0px;
    left:0px;
    margin-left: 90%;
    height: 25px;
}

#main{
    width: 90%;
    top: 50%;
    left: 75%;
    margin-top: 0px;
    margin-left: 5%;
    padding-top: 30px;
    background-color: white;
}

body{
    font-family:"DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
 background-color: darkgrey;
}
